applicant-list {
    multiselect-combo-box {
        width: 100%;
        background: white;
        --lumo-contrast-10pct: white;
        border-radius: 0.25rem;
        border: 1px solid #ced4da;
        padding-top: 0px;
        margin-bottom: 16px;
    }

    .list-group {
        margin-top: 20px;
        color: grey;

        .applicant {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .men {
            background-color: var(--blue);
            color: white;
        }

        .female {
            background-color: var(--pink);
            color: white;
        }
    }

    hr {
        background-color: white;
    }
}